

.menu-derecha{
    display: flex;  
}
.caja{
    background-color: black;
    position: relative;
    display: inline-block;
    width:100%;
    height: 40rem;
}
.caja img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position:center;
    opacity: .5;
}
.intro{
    color: white;
    text-align: right;
    position: absolute;
    margin-right: 5%;
    margin-left: 50%;
    bottom: 30%;
}
div.card{
    margin: .5rem;
}
.tarjeta{
   display: flex;
   justify-content: center;
}
.enviar{
    background-color: rgb(130, 192, 37);
    border: none;
}
footer ul{
    height: 40%;
    background-image: linear-gradient( 180deg, rgb(15, 72, 110), rgb(15,90,110));
}